.principal-lista{
    padding-top: 7em;
    width: 90%;
}
.principal-lista__titulo{
    color: var(--cor-cinzaescuro);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid var(--cor-cinzaescuro);
    padding-bottom: 0.25em;
    margin-right: 5em;
    margin-bottom: 1em;
}

.principal-lista__lista{
    display: flex;
    flex-direction: column;
    gap: 5em;
    border-left: 2px solid var(--cor-cinzaclaro);
    list-style-type: circle;
    list-style-position: outside;
}
.principal-lista__item{
    padding: 1em;
}

.principal-lista__item-titulo{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.principal-lista__item-dado{
    display: flex;
    gap: 5em;
    margin-bottom: 1em;
}
.item-dado__empresa{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.principal-lista__item:hover{
    border: 4px solid var(--cor-cinza);
    box-shadow: 0px 16px 16px 0 var(--cor-cinzaclaro); 
}


@media all and (max-width:600px){
    .principal-lista{
        padding: 4em 0 3em 0;
    }
    .principal-lista__lista{
        border-left:none;
        gap: 6em;
        list-style-type: none;
    }
    .principal-lista__titulo{
        font-size: 26px;
        margin-right: 0;
        border-bottom: 2px solid;
    }
    .principal-lista__item{
        border: 1px solid var(--cor-cinzaclaro);
    }
    .principal-lista__item-titulo{
        font-size: 20px;
    }
    .principal-lista__item-dado{
        font-size: 16px;
        gap: 1em;
    }
    .item-dado__data{
        padding-right: 2em;
    }
}